.footer{
    background-color:#5A5040;
    color: white;
    font-weight: lighter;
    margin:auto;
    font-weight: lighter;
    padding-bottom: 20px;

}

.iconos{
margin-top: 40px;
margin-left: 1200px;
justify-content: space-between ;
}

.footer-nav{
  color:white;
    width: 100;
    height: 60px;
    padding-top: 40px;
    }
    

.legal a{
    display:flex;
    color:white;
    font-size: 10px;
    margin-right:0px;

}

.legal {
    display:flex;

}

h3{
    font-size: 12px;
    margin-left: 50px;
}
.footer-nav a {
    color:white;
}
.footer-nav p {
    color:white;
}


@media (max-width: 800px){

.iconos{
margin-left: 200px;
margin-bottom: 30px; 
margin-top: 10px; 
}

.footer-nav{
font-size: 10px;
width: 500px;

}
.footer-nav a{
margin-right: 0px;
margin-left: 20px;
}    

h3{
    font-size: 12px;
    margin-left: 20px;
}

p{
    display:none;
}
}