body{
background-color: #CEBDA0; ;
color: black;
font-family: sans-serif;
}

.menu1{
background-color: white;
width: 100;
height: 60px;
padding-top: 40px;
}

a{
color: #332D2D;
text-decoration: none;
font-weight: bold;
margin-right: 75px;
text-align: center;
margin-left: 50px;
}

p{
color: #332D2D;
text-decoration: none;
font-weight: bold;
margin-right: 50px;
text-align: right;
margin-top: -18px;
}

img{
width: 30px;
height: 29px;
}
