.contenido3{
    background-image: url(../images/que_es2.png);
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: center 260px;
    margin:auto;
    height: 800px;
    }

    .contenido4{
        margin-top: 100px;
        margin-bottom: 100px;
       }

       .quotes-co img{
        width: 500px;
        height: 300px;
        margin-right: 20px;
        margin-left: 110px;
        margin-bottom: 50px;
    
    }