<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body id="top" itemscope itemtype="http://schema.org/WebPage">

<div class="menu1"> 
  <a href="/">PERSO</a>
  <a href="/Nosotros/"> Nosotros</a>
   <a href="/Grupos/"> Grupos</a>
  <a href="/Que es/"> Qué es?</a>
  <a href="/Como funciona/"> Cómo funciona?</a>
  <a href="/Tratamiento/"> Tratamiento</a>
  <p> ES | EN | IT </p>
</div>

</div>

  {{ content | safe }}

<div class="footer">
  <h3> Aún habrá que esperar un poco para obtener este artículo, ya que Perso de L’Oréal estará disponible a partir de 2021 y vinculado a una de las marcas del grupo.</h3>
   
    <div class="iconos">
  <img src="../images/Insta.png" alt="">
  <img src="../images/Twitter.png" alt="">
  <img src="../images/Facebook.png" alt="">
    </div>

  <h5>Cookie settings</h5>    
  <h5>Term of use</h5>
  <h5>Privacy Policy</h5>
  
<h5> &copy; 2021 Marzia Santinato </h5>
</div>

  <script src="/scripts/index.js"></script>
</body>
</html>
