---
layout: layouts/base.njk
title: Cómo funciona?
---

    <div class= "titulo-centrado2">
    <h1> COMO FUNCIONA? </h1>
    </div> 

<div class="contenidos">

    <div class="contenido5">
   El hardware de Perso presenta un sistema de motor de diseño único ubicado en la parte superior del dispositivo que mueve y comprime la fórmula desde los cartuchos ubicados en la base de la máquina en un movimiento ascendente hacia la bandeja dispensadora de arriba.

Con el uso regular, la plataforma de IA de Perso podrá evaluar las condiciones de la piel con el tiempo, lo que le permitirá al usuario saber qué está funcionando y adaptará automáticamente las fórmulas futuras en función de los resultados personales.
     </div>

    <div class="contenido6">
 Las futuras ofertas de maquillaje de Perso tendrán la capacidad de incorporar información de tendencias en tiempo real, así como tecnología de igualación de colores en sus propuestas de productos personalizados. Los consumidores podrían diseñar un tono de lápiz labial para que combine con su atuendo u optar por un color que está en tendencia en las redes sociales en ese momento.
   </div>
   
</div>


<div class="quotes-co">
    <div class="quote4"></div>
    <img src="../images/como_funciona3.png" alt="" >
    <div class="quote5"></div>
    <img src="../images/como_funciona4.png" alt="">
</div>

<div class="quotes-co2">
    <div class="quote6"></div>
    <img src="../images/como_funciona5.png" alt="">
    <div class="quote7"></div>
    <img src="../images/como_funciona6.png" alt="">
</div>