---
layout: layouts/base.njk
title: Grupos
---
    <div class= "titulo-centrado2">
    <h1> GRUPO </h1>
    </div> 

<div class="contenidos">

    <div class="contenido2">
       El deseo por la Belleza ha existido desde el comienzo de la humanidad. Es una aspiración universal que atraviesa tiempos, países y culturas. La belleza es una fuerza poderosa que nos mueve. Sabemos que la belleza es más que verse bien. La belleza nos da confianza en quiénes somos, quiénes queremos ser y nuestras relaciones con los demás.

Durante más de un siglo nos hemos dedicado a una única vocación: crear Belleza.
Nos mantenemos fieles al espíritu pionero de nuestro fundador y disfrutamos del apoyo inquebrantable de su familia, que siempre ha acompañado nuestro desarrollo.

Nuestro objetivo es ofrecer a todas y cada una de las personas del mundo lo mejor de la Belleza en términos de calidad, eficacia, seguridad, sinceridad y responsabilidad para satisfacer todas las necesidades y deseos de belleza en su infinita diversidad.
Debido a que la belleza es una búsqueda permanente, aprovechamos el poder de nuestra innovación para mejorar continuamente el desempeño de nuestros productos y servicios.
Debido a que valoramos la diversidad, aprovechamos cada una de nuestras marcas para celebrar todas las expresiones de belleza.

Debido a que nos esforzamos por ser ejemplares con una visión a largo plazo, anclamos nuestras acciones en nuestros sólidos valores y exigentes principios éticos.
    </div>

</div>

  <div class="texto3"> 

    <table>
        <tr>
        <td>
        Por lo tanto:

Actuamos para dar forma al futuro de la belleza aprovechando lo mejor de la ciencia y la tecnología, cada vez más inspirados por la naturaleza.

Actuamos para impulsar la innovación social ofreciendo las mejores condiciones laborales, formación y protección social para nuestros empleados.

Actuamos para construir un negocio con la inclusión en su corazón, asegurándonos de que somos tan diversos como las personas a las que servimos.
        </td>
        <td>
        Actuamos para fomentar asociaciones duraderas con nuestros clientes y proveedores basadas en la confianza mutua y la colaboración.

Actuamos para crear valor para todos nuestros accionistas, manteniendo un modelo de negocio sólido.

Actuamos para defender la causa de las mujeres y fortalecer las comunidades con las que nos involucramos.

Actuamos para proteger la Belleza del planeta luchando contra el cambio climático, respetando la biodiversidad y preservando los recursos naturales.
        </td>
    </tr>
    </table>
</div>


  <div class="texto33"> 

        Por lo tanto:

Actuamos para dar forma al futuro de la belleza aprovechando lo mejor de la ciencia y la tecnología, cada vez más inspirados por la naturaleza.

Actuamos para impulsar la innovación social ofreciendo las mejores condiciones laborales, formación y protección social para nuestros empleados.

Actuamos para construir un negocio con la inclusión en su corazón, asegurándonos de que somos tan diversos como las personas a las que servimos.

 Actuamos para fomentar asociaciones duraderas con nuestros clientes y proveedores basadas en la confianza mutua y la colaboración.

Actuamos para crear valor para todos nuestros accionistas, manteniendo un modelo de negocio sólido.

Actuamos para defender la causa de las mujeres y fortalecer las comunidades con las que nos involucramos.

Actuamos para proteger la Belleza del planeta luchando contra el cambio climático, respetando la biodiversidad y preservando los recursos naturales.
 
</div>
</div>

<div class= "quotes">
    <div class="quote3">
    "Crea la Belleza que mueve el mundo"
</div>
