---
layout: layouts/base.njk
title: Perso by L'oreal
---

<div class="hero"> 
    El nuevo dispositivo de L'Oréal con el que podremos crear maquillaje y 
    cremas personalizadas en casa y al momento
</div>

<div class= "header">
    <div class= "titulo-iz">
        <h1> ¿QUÉ ES? </h1>
    </div>
    <div class="texto1"> Perso de L’Oréal es el primer dispositivo capaz de crear
       fórmulas a medida para el cuidado de la piel, bases de maquillaje y
       labiales cómodamente en casa.
    </div>
    <div class="boton">ver más
    </div>
</div>

<div class="bloque1">
    <div class= "titulo-centrado">
    <h1> ¿COMO FUNCIONA? </h1>
    </div> 
    <div class="texto2"> 
        Este revolucionario gadget inteligente ha sido presentado por L’Oréal en la edición 2020 del Consumer Electronics Show (CES), en Las Vegas, lo que supone el 
        primer paso para la introducción en el mercado de esta tecnología 3 en 1. Desarrollado por la incubadora tecnológica de L’Oréal, el elegante dispositivo 
        Perso, mide 16,5 cm de alto y pesa unos 450 gramos.
    </div>
    <div class="boton">ver más </div>
</div>

<div class="quote">
    "va siendo más inteligente a medida que se utiliza."
</div>

<div class="bloque2">
    <div class= "titulo-de">
    <h1> TRATAMIENTO en solo 4 pasos  </h1>
    </div> 

    <div class="boton"> ver más </div>
</div>