---
layout: layouts/base.njk
title: Perso by L'oreal
---

<div class="hero"> 
    El nuevo dispositivo de L'Oréal con el que podremos crear maquillaje y 
    cremas personalizadas en casa y al momento
</div>

<div class= "header">
   <h1> ¿QUÉ ES? </h1>
    <p> Perso de L’Oréal es el primer dispositivo capaz de crear
       fórmulas a medida para el cuidado de la piel, bases de maquillaje y
       labiales cómodamente en casa.
    </p>
</div>

<div class="boton">Ver más </div>

