---
layout: layouts/base.njk
title: Nosotros
---

    <div class= "titulo-centrado2">
    <h1> NOSOTROS </h1>
    </div> 

<div class="contenidos">

    <div class="contenido1">
        L’Oréal se ha dedicado a la belleza por más de 100 años. Con su cartera internacional única de 36 marcas diversas y complementarias, el Grupo generó ventas por un valor de 26.9 mil millones de euros en 2018 y emplea a 82,600 personas en todo el mundo. Como la empresa de belleza más importante del mundo, L’Oréal está presente en todas las redes de distribución: el mercado masivo, grandes almacenes, farmacias y boticas, salones de belleza, comercio minorista para viajeros, comercio minorista de marca y comercio electrónico.

La investigación y la innovación, y un equipo especializado de investigación de 3,885 personas, son el núcleo de la estrategia de L’Oréal, que trabaja para satisfacer las aspiraciones de belleza en todo el mundo. El compromiso de sostenibilidad de L’Oréal para 2020 ” Sharing Beauty With All” establece ambiciosos objetivos de desarrollo sostenible en toda la cadena de valor del Grupo.
    </div>

    <div class="contenido2">
        La investigación y la innovación, y un equipo especializado de investigación de 3,885 personas, son el núcleo de la estrategia de L’Oréal, que trabaja para satisfacer las aspiraciones de belleza en todo el mundo. El compromiso de sostenibilidad de L’Oréal para 2020 ” Sharing Beauty With All” establece ambiciosos objetivos de desarrollo sostenible en toda la cadena de valor del Grupo.
   </div>
   
</div>