---
layout: layouts/base.njk
title: Qué es?
---


    <div class= "titulo-centrado2">
    <h1> QUE ES? </h1>
    </div> 

<div class="contenidos">

    <div class="contenido3">
    La tecnología Modiface hace posible la evaluación en tiempo real del estado de la piel, la calidad del aire, la contaminación y las tendencias. Todas estas variables se tienen en cuenta para diseñar un producto 100% personalizado.

En el caso del maquillaje, en base a la información sobre las tendencias que incorporará en tiempo real, los consumidores podrán diseñar un tono de pintalabios que combine con su vestimenta o elegir un color de moda en ese momento.
   
     </div>

    <div class="contenido4">
    “Con base en nuestro profundo patrimonio científico y liderazgo en innovación, L’Oréal aprovecha una vez más la tecnología avanzada para crear productos y servicios de belleza inteligentes que respondan a las necesidades de nuestros consumidores y les ofrezcan una personalización y precisión casi ilimitadas”, dijo Naicolas Hieronimus, subdirector general de L’Oréal.


“Estamos comprometidos con hacer de L’Oréal el líder en tecnología de belleza, y Perso es el siguiente paso en ese emocionante viaje”.
   </div>
   
</div>

<div class="quotes-co">
    <div class="quote4"></div>
    <img src="../images/que_es2.png" alt="" >
    <div class="quote5"></div>
    <img src="../images/que_es3.png" alt="">
</div>