---
layout: layouts/base.njk
title: Tratamiento
---

    <div class= "titulo-centrado2">
    <h1> TRATAMIENTO</h1>
    </div> 

<div class="contenidos">

    <div class="contenido51">
 <h2> 1. Análisis personalizado de la piel:</h2>

El usuario abre la aplicación móvil Perso y se hace un selfie con la cámara de su smartphone. Gracias a la tecnología ModiFace, propiedad de L’Oréal, la inteligencia artificial analiza el estado general de la piel del usuario, incluidas las arrugas profundas y las superficiales, las manchas y la visibilidad de los poros.
     </div>
   
</div>

  <div class="contenido61">
 
  <h2> 2. Evaluación ambiental:</h2>
       
Utilizando los datos de geolocalización de Breezometer, Perso evalúa las condiciones ambientales locales que pueden influir en el estado de la piel del usuario: clima, temperatura, polen, índice UV y humedad. </div>
   
</div>


<div class="quotes-co">
    <div class="quote4"></div>
    <img src="../images/tratamiento3.png" alt="" >
    <div class="quote5"></div>
    <img src="../images/tratamiento4.png" alt="">
</div>


<div class="contenidos">

    <div class="contenido52">
 <h2> 3. Preferencias sobre el producto:</h2>

Para una mayor personalización, el usuario introduce sus preocupaciones sobre el estado de su piel, como líneas de expresión, manchas, pigmentación, tamaño de los poros y luminosidad. 

Además, es posible elegir la textura del producto y el nivel de hidratación que desea para que las fórmulas de su hidratante, sérum o contorno de ojos se adapten lo máximo posible a sus gustos.

</div>   
</div>



  <div class="texto3"> 

  <div class="contenido6">
 
  <h2> 4. Formulación y dispensación personalizadas:</h2>
    
Teniendo en cuenta todos los datos mencionados anteriormente, el sistema personaliza una fórmula de alto rendimiento dispensada en una dosis perfecta a través de la parte superior del dispositivo para facilitar su aplicación. 

Perso proporciona tratamiento de mañana y de noche pero, la parte superior puede desmontarse si se desea utilizar una sola dosis o, si por el contrario se quiere disponer de mayor cantidad de producto para retocarse el maquillaje o aplicarse más tratamiento fuera de casa.</div>

    <table>
        <tr>
        <td>
Haciendo un uso regular del dispositivo, su sistema basado en inteligencia artificial podrá ir evaluando el estado de la piel. Por tanto, el usuario </td>
        <td>
podrá saber lo quemejor le está funcionando con el paso del tiempo. De esta forma, las fórmulas futuras se adaptarán mejor a sus necesidades.
 </td>
    </tr>
    </table>
</div>
<div>

